<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home - Chat Room</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
</head>
<body class="bg-light">
    <div class="container-fluid bg-light shadow-sm" style="z-index: 100">
        <nav class="container navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">CHAT ROOM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active">
                      <a class="nav-link" href="/">Home</a>
                    </li> -->
                  </ul>
                </div>
        </nav>
    </div>
    <div class="container-fluid" style="margin-top: 2px">
        <div class="row" style="height: 90vh">
            <div class="col-2 pt-2 shadow bg-white">
                <p>Members</p>
                <hr>
                <div style="height: 80%">

                </div>

                <button class="btn btn-sm btn-primary">Add New</button>
            </div>
            <div class="col-10">
                <div class="row">
                    <div id="chats" class="col-12 p-3" style="height: 79vh; max-height: 79vh; overflow: auto">

                    </div>
                </div>
                        <form id="msgForm" class="row bg-white p-3" autocomplete="off">
                            <div class="col-11">
                                <input class="form-control bg-light" placeholder="Type message here..." id="msgInput">
                            </div>
                            <div class="col-1">
                                <button class="btn btn-success" id="sendBtn">Send</button>
                            </div>
                        </form>
            </div>
        </div>
    </div>

  <script>
    //   var socket = io("http://localhost:5000");
    var socket = io("192.168.43.216:5000");



    socket.on('messageReceived', (data)=>{
        console.log(data);
    })

    $(document).ready(function(){
        // alert("ready...")
        $('#msgForm').submit((e)=>{
            e.preventDefault();
            let message = $('#msgInput').val();
            if(message.length > 0){
                socket.emit('newMsg', {message});
                $('#msgInput').val('');
                let date = new Date().toLocaleTimeString();
                let data = {content: message, time: date}
                showMessage(data);
            }
        })
        socket.on('newMessage', (data)=>{
            showMessage(data)
        })

        function showMessage(data){
            let content = $('#chats').html()
            let comingContent = `
                            <div class="row mb-1 w-25 shadow-sm bg-white" id="chatBox">
                                <div class="col-12 float-right">
                                    <div class="row">
                                        <div class="col-12">
                                            <small class="text-muted">Sender ID</small>
                                            <small class="float-right text-muted">${data.time}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <small>${data.content}</small>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="clear-fix"></div><br>`
            let newContent = content + comingContent;
            $('#chats').html(newContent);
        }
    });

  </script>
</body>
</html>